notifications:
  on_success: change
  on_failure: change

os: linux
language: c++
sudo: required

services:
  - docker

install:
  - docker build -t makestack/os .

before_script:
  - cp ci/led-blink.config.yaml examples/led-blink/.config.yaml
  - cd examples/led-blink && zip app.zip * .config.yaml && cd ../..

script:
  - docker run -v $PWD/examples/led-blink:/app -t makestack/os
